[2021-12-26 05:26] mclever opened #1 "Find mac address of mug"
Couldn't find it in the android app. How can I find the mac address?

[2021-12-26 12:02] mahawana opened #2 "HA is not able to see Ember 2 mug."
Hello SopelJ, I wonder if you can shed some light on the issue I'm seeing...

I used this integration but I'm not able to connect to my Ember Mug 2. After reset, HA I see the entity "sensor.mo_s_ember_mug", but its state is unavailable.  In looking in the log file, I see this error message:

       021-12-26 03:42:46 WARNING (MainThread) [custom_components.ember_mug] Failed to connect to C9:0F:59:

[2021-12-26 14:52] sopelj commented on #1
Hey, once you've paired it with your phone, you should be able to find the MAC address under your phone's Bluetooth settings.

Simply go into your settings, Bluetooth and choose your ember mug under your devices.  The MAC address should be there. Sometimes called "device address".

![Screenshot_20211226-093637~2.png](https://user-images.githubusercontent.com/5285941/147411797-08a53434-9189-4ff0-8f

[2021-12-26 15:38] sopelj commented on #2
Hi, sorry, no, you need to put the MAC address of your mug in the settings for your config.
If you put mine it will never be found. I'll update the `README` to try and make it a bit more clear.

In the mean time, someone just asked me how to find it so, that might help you too.
https://github.com/sopelj/hass-ember-mug-component/issues/1

Eventually I'd like to implement auto-discovery, but I haven

[2021-12-26 22:57] mclever commented on #1
@sopelj my Android doesn't have anything like that. I'll do some googling and see what I can see. I wonder if it was on the box that I threw away too?

[2021-12-26 23:05] mclever commented on #1
FYI just installed a free app I found by searching for Bluetooth Mac finder in Google store. Worked perfectly!

Thanks

[2021-12-26 23:05] #1 closed

[2021-12-27 08:51] mahawana commented on #2
Hello sopelj,
thanks for the fast response, and the helpful pointer on how to get the MAC address. the instructions you provided were for Android. However, I'm using the iphone 12 with IOS 15.1. After using logical steps similar to the description you provided, the IOS could not provide this info. Furthermore,  searching the internet for such instructions for Iphone,  did not yield positive result

[2021-12-27 08:54] #2 closed

[2021-12-27 14:28] sopelj commented on #2
@mahawana I'm sorry you couldn't get it working. The Ember Mug is very finicky. It only seems to allow connections from one device and no it does now enter the standard pairing mode. If you hold down the button for a few seconds it starts blinking blue. However, in my tests it will not actually be detectable by new devices if it is already paired with another device.

The only way I have found to

[2021-12-28 00:13] mahawana commented on #2
Hello @sopelj, I’ve gone thru your suggestions below, and I agree the device is rather finicky.

As for HA and VM interaction, I eliminated this dependency by simply trying to connect my Windows 10 machine directly to Ember mug. I was successful with this experiment. This experiment demonstrated that Ember and my laptop can connect directly, without any dependency on any program. Then I carried th

[2022-01-02 01:19] leandrotoledo commented on #2
@sopelj thanks for this integration. I was only able to pair it with HA following the reset method you described, maybe it's worth to mention on `README.md`?

[2022-01-02 20:07] sopelj commented on #2
@leandrotoledo I'm glad! I was hoping it wouldn't be necessary, but these comments and I have done done some more tests which seem to confirm it is. So, I will add it right way. Thanks for the suggestion!

[2022-01-04 16:53] fireheadman opened #3 "Ember Mug - Connectivity & How to get MAC ID for Mug?"
Could you please give a snippet/info on how to get the MAC ID for the mug?
I personally use an iOS device, so maybe include for both Android and iOS.

Thanks

[2022-01-04 19:39] fireheadman commented on #3
update:  was able to power on a galaxy s5 and install the ember app, pair the mug to it....  from there I was able to get the MAC from the bluetooth settings.

still unsure how a person without an android device would be able to get this info as the iOS native bluetooth app doesn't disclose this info.   maybe there is a 3rd party bluetooth scanner that can show this?

next step was to insert a blu

[2022-01-04 19:41] fireheadman commented on #3
Looks like this is all I get now...
2022-01-04 12:37:37 INFO (MainThread) [homeassistant.setup] Setting up ember_mug
2022-01-04 12:37:37 INFO (MainThread) [homeassistant.setup] Setup of domain ember_mug took 0.0 seconds

But when I search the entities, nothing is to be found.

[code]

[2022-01-04 19:52] sopelj commented on #3
Yeah, I don't have an iOS device to test, but yeah it looks like Apple decided to hide it from iOS 12+.
So an android phone or desktop computer with bluetooth is currently the only way to obtain the MAC address.

I've been playing with config flow in home assistant (configuration via the UI) and that should allow me to either auto discover the device or at least list them in the UI. I just haven't

[2022-01-04 20:12] fireheadman commented on #3
I just saw my dongle driver wasn't loading...
so found this article and followed it:   [https://kb.plugable.com/questions/696086](url)

[code]

and after a reboot...  the drivers are better, but still unable to pair to the ember mug
[code]

[2022-01-04 20:13] fireheadman commented on #3
so tried the command line to pair
[code]

[2022-01-04 20:22] fireheadman commented on #3
using the debug for logger, I show nothing new in the logs.

[code]

[2022-01-04 20:25] fireheadman commented on #3
If you can think of anything else... I'm open ears to try it.

[2022-01-04 20:28] fireheadman commented on #3
this might be the issue...

[code]

[2022-01-04 20:42] sopelj commented on #3
That's extremely weird. Is this console you're using your Home Assistant instance? How are you running home assistant?
Are you sure the Bluetooth is accessible to the instance? Your `ember.yaml` is correctly included in your config.yml?
Even if it fails to connect to your Mug you should see it mention your mug in the log.
[code]
Do you have any other devices still paired with it? They might be fig

[2022-01-04 20:49] fireheadman commented on #3
yes, I can access bluetoothctl via my ha instance.
my HA setup is a physical server (ubuntu setup) via HA in docker... official method.

I have my config split, so its an individual yaml for each integration.   However, I can (for grins) put this into my config.yaml for testing.

Another thing I am seeing is this:
[code]

[2022-01-04 20:55] fireheadman commented on #3
do you happen to know which bluetooth related pkgs you have installed?  maybe I am missing one/some of them?   I never needed bluetooth until today for HA, so stuck a usb dongle in it (since this is a server grade system).

[2022-01-04 21:06] sopelj commented on #3
Oh ok. Yeah, I know you can run it in Docker. I just wasn't sure if it passes through devices automatically or not.
I've been using the OVA images for Home Assistant OS in a VM with USB pass-through. I just wasn't sure if the docker running home assistant had access to the Bluetooth dongle automatically. I just ask because the user and hostname looked like a local or server environment as opposed

[2022-01-04 21:14] fireheadman commented on #3
Here's what I have:   (just installed the bluez-tools)
[code]

And this is 'bluetoothctl' being access from the host OS and from hass (docker container)
The values match also between the host to the docker container

HOST OS
[code]

DOCKER CONTAINER
[code]

[2022-01-04 21:32] fireheadman commented on #3
swapping out my dongle for another one I found to see if its the dongle that is bad

[2022-01-04 22:22] fireheadman commented on #3
looks like I have painted myself in a corner now.
had to unpair (untrust/remove) the Ember Mug from dongle#1.

swapped dongles out, rebooted, verified new dongle was online (MAC is different)... SCAN performed and nothing present.   rebooted again, still nothing.    swapped back to Dongle#1, rebooted... SCAN performed and nothing.

system can't see the ember at all now.
verified my phone can still

[2022-01-04 23:12] fireheadman commented on #3
what a PITA this is... found the cache location
[code]

Removed everything, then rebooted...
Actually did way to much and not even sure what the issue was, but now it is paired/connected.
At this point, gave up on redacting to... it is after all just bluetooth, worst a hacker could do it make my coffee cold? (LOL)

rfkill list   (this can show if bluetooth is being blocked... which was one of the

[2022-01-04 23:13] fireheadman commented on #3
problem still exists though..... HA can't see the Ember Mug and debuggin shows nothing, so now that I am back to this stage, I will move it into my config.yaml and restart HA.

[2022-01-04 23:38] fireheadman commented on #3
[code]

Stepped away for a few min, came back and realized my mistake in this.
It isn't an integration, it's just a sensor... so my bad, I totally misinterpreted that.

Now that I have it in the sensors location, here is what the logs are showing:

[code]

do I need to unpair this device from bluetoothctl so that homeassistant can pair it?.... little lost at this point

[2022-01-04 23:49] fireheadman commented on #3
went ahead and unpaired the mug from bluetoothctl, then made sure it was seen (but not re-paired).   Then restarted HA.
This is what I see (pretty much same things as above):

[code]

[2022-01-05 00:07] fireheadman commented on #3
I managed to get this one time...

[code]

but most of the restarts are hanging up HA, and I see this:
[code]

and if you keep another window up with bluetoothctl, you can see that the mug auto-paired from HA, but on a restart it will spew changes like this
![image](https://user-images.githubusercontent.com/19847195/148140475-5f809f10-c82f-4587-81c8-5baf01718689.png)

[2022-01-05 00:09] fireheadman commented on #3
so for now I will disable this integration.
if you would like another set of eyes to help on it, feel free to ping me.   I'm definitely interested in your project.

Curious how far away I can get my mug before bluetooth can't poll it.
My server is in the basement and my office is on the other end of the house.

[2022-01-05 00:17] sopelj commented on #3
Oh I'm glad you got it to connect at least once it Home Assistant.

Are you sure you don't have another device that might be paired with it too? That would explain the intermittent connections.
Maybe your server and docker both have access to the dongle and they're fighting?

As you can see by the MAC addresses in your `bluetoothctl` the information it is _spewing_ is not related to the mug, but o

[2022-01-05 02:56] fireheadman commented on #3
yeah, it was only paired to my iPhone and Android relic I dug out of the archives.
Both had the app removed and bluetooth device unpaired.

The mug sat in pairing mode for about 20min, so if something else were to have grabbed it to pair with, the light would have stopped flashing blue....   I might see about getting a long range bluetooth usb dongle instead of these nano ones.

[2022-01-15 16:05] jddayley opened #4 "Unable to add Ember Mug"
I'm using the latest version and the UI setup finds my ember mug.   I able to complete the setup and indicates it was successful.  However no entity is created.  Below are the debug logs.

2022-01-15 11:01:52 ERROR (MainThread) [homeassistant.components.sensor] Error adding entities for domain sensor with platform ember_mug
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassi

[2022-01-15 16:20] sopelj commented on #4
Hey, yeah, sorry that was stupid error.

I was creating a ton a versions yesterday because it was easiest to do my tests.
I'm glad creating via the UI worked for you though!

This error is fixed I just hadn't created another release. I just created `0.2.1-alpha-7` now. It fixes this error and a few others.
If you upgrade to the latest and restart home assistant you should have the sensors appear.

[2022-01-15 16:58] jddayley commented on #4
Thank you so much.  In the UI, it indicates "MAC address is invalid"

2022-01-15 11:53:04 ERROR (SyncWorker_1) [switchbot] Error scanning for switchbot devices
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/switchbot/__init__.py", line 147, in discover
    devices = bluepy.btle.Scanner(self._interface).scan(
  File "/usr/local/lib/python3.9/site-packages/bluepy/b

[2022-01-15 17:12] sopelj commented on #4
Oh, sorry. I haven't had a chance to re-test the config flow. Thecheck for the mac address has changed. Should work now in `0.2.1-alpha-8`, but haven't had time to test yet.

[2022-01-15 17:27] jddayley commented on #4
Appreciate everything.   Really close.

2022-01-15 12:23:05 ERROR (MainThread) [custom_components.ember_mug] An unexpected error occurred during loop . Restarting.
2022-01-15 12:23:05 INFO (MainThread) [custom_components.ember_mug] Starting mug loop XX:XX:XX:XX:XX:XX
2022-01-15 12:23:11 ERROR (MainThread) [custom_components.ember_mug.mug] Init: Device with address XX:XX:XX:XX:XX:XX was not found.

[2022-01-15 17:41] sopelj commented on #4
Ok, I see a couple errors. Bluetooth is not the most reliable protocol and the mug is a bit finicky. I can sometimes fail to update and reconnect. Did it create any sensors? If you go into "Configuration -> Devices and Services" and check under "Ember Mug"
I do not believe the `stream_worker` errors you have are related to the mug.

[2022-01-15 23:46] jddayley commented on #4
Appreciate all the changes today.  It works great.

[2022-01-16 01:28] sopelj commented on #4
Awesome! I'm glad it can be useful to someone.
I suppose I'll close this issue since the original problem was fixed yesterday with [this commit](https://github.com/sopelj/hass-ember-mug-component/commit/341b3b05ff9e8e53e74f6c3923a091071a5d6a46). However don't hesitate to open another issue if you have problems or suggestions in future. I'll try and get a stable update out in the next couple days.

[2022-01-16 01:28] #4 closed

[2022-01-16 03:56] sopelj commented on #3
Hey, have you had any luck since?
I made big changes in the 0.2.1. Maybe it will help you.
You can no configure it via the UI and it should find your device. So no more needing to know/find your MAC address.
However you do still need to be sure to remove your original config and make sure you reset it again before trying.

[2022-01-16 14:02] fireheadman commented on #3
Gave it more thought…. Since I bring my mug in the truck I need the app connected.  So this isn’t gonna work for me.  I like the idea/concept of it though.

[2022-01-16 16:56] sopelj commented on #3
Oh ok, I could see where that might be a problem.
Well, the setup via the UI should solve the "Finding MAC Address problem, so I'll close the issue.
If you do end up using it again and have any problems or suggestions don't hesitate to create a new one.

[2022-01-16 16:56] #3 closed

[2022-04-09 21:05] mclever opened #5 "HA 5 minute startup time with integration enabled and mug doesn't reconnect"
Logs get flooded with this loop and HA takes really long to start up. I don't reboot HA that often, just noticed this after updating to the 2022.4 release to take advantage of some new functionality and while rebooting/testing HA startup takes a really long time with a 5 minute pause in logging entries and then the time out moving forward

ERROR (MainThread) [custom_components.ember_mug] An unexpe

[2022-04-10 14:42] sopelj commented on #5
Hi, that is a long startup time. Is this your total startup time or just the time for this integration? Because normally even if it fails to connect it shouldn't delay the startup of your Home Assistant. You can see the breakdown in the Configuration -> Info tab.

![screenshot-2022-04-10-10-16-38](https://user-images.githubusercontent.com/5285941/162624029-0bfa0a57-b2d8-427c-944f-8a3d27b67142.png)

[2022-04-10 14:44] mclever commented on #5
I can give that a shot, thanks.

Not as much concerned with the output in the logs, but the 5 minute startup delay because of this thing trying to connect is frustrating.

[2022-04-10 14:59] sopelj commented on #5
Yes, that would be frustrating. Is it only this integration taking 5min?

[2022-04-10 15:03] mclever commented on #5
yes, as soon as i disable ember integration and reboot it goes back to normal reboot time without that

WARNING (MainThread) [homeassistant.bootstrap] Setup timed out for bootstrap - moving forward

[2022-04-19 00:32] mclever commented on #5
any ideas @sopelj ?

[2022-04-19 01:58] sopelj commented on #5
@mclever did you try what I suggested earlier?

I have been having quite a few issues since the latest update as well. It frequently fails to connect, but hasn't affected my startup time.

The only way I've been able to get Bluetooth working is like I said: turning it off, waiting a few seconds and turning it back on. It doesn't work every time, but finishes by connecting again.

Are you using Hom

[2022-04-19 06:24] mclever commented on #5
I couldn't handle the 5 minute delay in startup. I have been making lots of changes lately so I have had your integration disabled.

I am on HASS or whatever its called now, latest GA release, nothing beta. I had serious bluetooth range issues on my pi and have a few ESP32s for some stuff further away from my pi, but my mug being just a few feet away I also had issues.

For stuff further away I ha

[2022-04-19 06:33] mclever commented on #5
also, just noticed you don't have an issues link on http://HA IP:port/config/info not sure what that entails, just happened to see when i rebooted with integration enabled and its no longer taking 5 minutes....

![image](https://user-images.githubusercontent.com/60011614/163940393-34d9b761-e44c-4e0d-ae73-606d4dba73b1.png)

[2022-06-08 00:20] ryborg opened #7 "Device not found"
`This error originated from a custom integration.`

`Logger: custom_components.ember_mug.mug`
`Source: custom_components/ember_mug/mug.py:263`
`Integration: Ember Mug (documentation)`
`First occurred: 20:14:23 (7 occurrences)`
`Last logged: 20:18:23`

`Init: Device with address E1:6E:67:C7:B0:93 was not found. on attempt 3. waiting 30sec`
`Init: Device with address E1:6E:67:C7:B0:93 was not found.

[2022-06-08 02:28] sopelj commented on #7
Oh ok. Has it every successfully connected?
Have you tried putting it back into pairing mode after reboot? Depending on the Bluetooth adaptor and the mug firmware, sometimes it can only be detected in pairing mode after a reboot.

[2022-06-08 02:34] ryborg commented on #7
It connected only at pairing stage, and the entities were added but never
updated. Unavailable since the start. The mug also stays in pairing mode
even though the integration sets up.

On Tue., Jun. 7, 2022, 10:29 p.m. Jesse Sopel, ***@***.***>
wrote:

[2022-06-11 14:42] sopelj commented on #7
Ok, that's weird. I know this isn't intuitive, not a permanent fix, but if you have the Terminal addon for home assistant or SSH access. Can you try:
[code]
I didn't have to do this before, but from time to time, I have had to do it after a reboot. This seems to work everytime for me.

I've been trying to find a new one, but I only have two. I believe it needs to support Bluetooth 4.2, but it's so

[2022-07-08 15:21] sopelj commented on #7
@ryborg Did you have any luck with that?
I know it shouldn't be necessary, but it always seems to work.

[2022-07-17 02:29] jschulman commented on #7
I’m having the same issue. I tried your approach and oddly immediately paired just by loading Bluetoothctl.

[2022-07-17 02:30] jschulman commented on #7
I’m running the TP-Link UB500 5.0 adapter.

[2022-07-17 14:01] ryborg commented on #7
Sorry, I didn't. Gave up. I might try again with a different device.

On Fri., Jul. 8, 2022, 11:21 a.m. Jesse Sopel, ***@***.***>
wrote:

[2022-07-24 17:12] sopelj commented on #7
@jschulman Ok, thank you! I don't know why it's needed, but I'll see if there's something I can do in the code, if not I'll document it. Once it's paired, it seems to persist through restarts, though. So it's a one time workaround.
That's good to know 5.0 adapters work too, thanks. :)

[2022-07-24 18:57] ryborg commented on #7
@sopelj
all working now with a new TP-Link BT 5.0 adapter.

[2022-07-24 18:57] #7 closed

[2022-07-24 19:22] sopelj commented on #7
@ryborg Thanks!

[2022-08-03 14:41] mclever opened #8 "Requirements for ember_mug not found: ['bleak==0.14.1']"
Figured I'd try this integration again to see if it worked with the new Bluetooth integration on HA 2022.8 and it no longer starts. You get this error
Setup failed for custom integration ember_mug: Requirements for ember_mug not found: ['bleak==0.14.1'].

[2022-08-03 17:11] sopelj commented on #8
Hi, yeah, you should always read the changes in Home Assistant before upgrading.
HA 2022.8 added a [new Bluetooth integration](https://www.home-assistant.io/blog/2022/08/03/release-20228/#first-class-bluetooth-support). Installing bleak seems to conflict with their install of it. I will look into migrating this to their new version if possible, but it only just came out this morning, so I haven't

[2022-08-04 19:39] skarchmit opened #9 "Config flow could not be loaded: undefined"
I'm just getting `Config flow could not be loaded: undefined` when I try to set it up.

My ember mug is blinking blue.

[2022-08-04 19:42] skarchmit commented on #9
If you restart home assistant and try again... it will say wait while ember mug is being set up... then throws the message. After trying again, it just goes back to the first one all of the time without a waiting period

[2022-08-04 23:21] sopelj commented on #9
That's very strange. Is this before or after it loads the mug? What version of home assistant are you on? This integration is not yet compatible with 2022.8.
Blinking blue is good, that means the mug is in pairing mode.

[2022-08-05 00:27] skarchmit commented on #9
I'm on 2022.8 currently, that probably explains why.

[2022-08-05 00:27] skarchmit commented on #9
It is before it loads the mug

[2022-08-05 01:48] sopelj commented on #8
Hey, I made some minimal fixes so it can work again in Home Assistant 2022.8+
However, it will not work if the new Bluetooth Integration is also configured. I added a note in the readme.
So, please try the version 0.3.0 and see if it works for you.

Long term however, I will probably have to rewrite this integration to use the new one. But it will take some time.

[2022-08-05 01:49] sopelj commented on #9
Yeah, can you try updating to version 0.3.0 and trying again? It should work with Home Assistant 2022.8 as long as you don't have the new Bluetooth Integration enabled.

[2022-08-05 22:11] rybackisback commented on #9
I deleted/disabled the bluetooth integration under integrations. I then tried to install the ember integration and still get the same error 'Config flow could not be loaded: undefined'. I am on HA 2022.8.

[2022-08-06 14:53] sopelj commented on #9
That's really strange. Did you restart home assistant after deleting the Bluetooth integration? Do you have any other integrations that use Bluetooth?  Eg. Switch it, MiFlora, etc.
Do you have any errors in your logs from this integration?

[2022-08-06 21:14] rybackisback commented on #9
Yes I tried restarting HA after deleting the bluetooth integration. The only Bluetooth device i have is the ember mug hence why i deleted the bt integration as per you advice. I am now on 2022.8.1 in which I see that bleak has been bumped to bleak to 0.15.1.

See error logs below:
Logger: homeassistant.util.package
Source: util/package.py:98
First occurred: 7:11:45 AM (3 occurrences)
Last logged:

[2022-08-06 21:21] sopelj commented on #9
I removed the bleak requirement from version 0.3. So you shouldn't have that error anymore. Is the integration up to date?

[2022-08-07 06:48] rybackisback commented on #9
Okay I finally added v0.3 via HACS and deleted the bt integration. The mug doesn't stay connected and all the entities become unavailable. I get the following errors in my logs.

Logger: custom_components.ember_mug
Source: custom_components/ember_mug/__init__.py:134
Integration: Ember Mug ([documentation](https://github.com/sopelj/hass_ember_mug), [issues](https://github.com/sopelj/hass_ember_mug/

[2022-08-10 01:27] sopelj commented on #9
@rybackisback That's very strange. It can't seem to decode the ID of your mug. Are you using an Ember Mug 2 or do you have another model?

[2022-08-10 01:28] #8 closed

[2022-08-10 07:16] rybackisback commented on #9
Yes I have the ember mug 2.

I enabled the logger as below.
logger:
  default: error  # Or whatever you want
  logs:
    custom_components.ember_mug: debug
    custom_components.ember_mug.mug: debug
    custom_components.ember_mug.mug.api: debug

See logs below for embermug:

This error originated from a custom integration.

Logger: custom_components.ember_mug
Source: custom_components/ember_mug/_

[2022-08-10 23:16] sopelj commented on #9
Thank you very much. I'm surprised it doesn't give any more information in debug mode. I'll see what I can do to reproduce this.

[2022-08-10 23:31] sopelj commented on #9
@rybackisback If you look just under the list of errors/warnings in the logs you should have a button that says "Load Full Logs" in there you should have much more detailed information. For example I have:

[code]

[2022-08-11 21:59] rybackisback commented on #9
2022-08-10 16:55:29.974 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration ember_mug which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-08-10 16:55:39.805 INFO (MainThread) [custom_components.ember_mug] Ember Mug Ember Ceramic Mug Setup
2022-08-10 16:55:39.805 D

[2022-08-12 22:47] sopelj commented on #9
@rybackisback Thank you very much for the full log. It seems to be an issue with one of the values. Its one of the more nebulous ones, that I'm not certain I'm correctly decoding. I quickly patched it so that it won't crash the loop. If you can try updating to version 0.3.1 and restarting that would be much appreciated.

[2022-08-13 00:49] rybackisback commented on #9
@sopelj its fixed finally. Thanks for your help. Look forward to trying the new version to work along with the new BT integration when released!

[2022-08-13 00:58] sopelj commented on #9
@rybackisback Awesome! I'm glad! Thanks for trying and responding. Much appreciated.

Yeah, I'm currently testing to see if I can migrate this to the new integration. It's not super well documented yet and the mug is a bit peculiar, so we'll see. But I'll update as soon as I can. :)

[2022-08-13 00:58] #9 closed

[2022-09-11 02:15] rybackisback opened #10 "Ember integration not working with HA core 2022.9.1"
Hi, @sopelj, now the ember mug wont connect at all after updated HA core to 2022.9

[2022-09-11 02:54] sopelj commented on #10
Hmm, that's weird. Do you have any errors? Are you sure home assistant's bluetooth integration is disabled and no other integrations are using bluetooth? Have you tried powering bluetooth off and on again?

[2022-09-11 10:45] rybackisback commented on #10
all the sensors became unavailable after the update so i deleted and re-installed the integration. After that i am unable to pair the ember mug. It just wont detect the mug after putting it into pairing mode. The bluetooth integration in HA is disabled and no other integration is using bluetooth. Ive tried turning off and on the bluetooth in ubuntu and i can pair to the mug in ubunutu but not in H

[2022-09-16 10:09] brichad commented on #10
I have this issue too, now can't pair the mug at all. Did you manage to resolve? i can help debug if needed.

[2022-09-16 12:00] sopelj commented on #10
Oh ok thank you very much.
So have you tried resetting the mug as well?
Make sure no other device is connected/paired with it, like your computer. It only seems to work with one at a time and needs to be reset.
You have absolutely no errors in Hass?
I've been trying to update it to the new Bluetooth integration so I don't have the old version installed, I'll have a look after work tonight.

[2022-09-16 22:55] rybackisback commented on #10
Yes ive reset the mug and tried again. The integration does not find the mug. I cannot see any errors in hass.

[2022-09-17 13:46] brichad commented on #10
i've reset the mug multiple times, i manually purged bluetooth configs and
the bluetooth from the hass host, ran monitor along side and it identified
the mug... either way i get a timeout on connection attempt, if i try run
this multiple times, it connects but then basically says it's not available
and the mug remains in paring mode.

On Fri, Sep 16, 2022 at 11:55 PM rybackisback ***@***.***>
wrot

[2022-09-17 17:17] sopelj commented on #10
It times out trying to pair in bluetoothctl too? If you can't pair/trust in manually, then it definitely won't work in the integration, because it uses the same thing behind the scenes.
It might be the adapter the problem too if it won't work at all. Mine stopped working after the update too, so I switched to one of the supported ones listed on their wiki, and it seems to work again. Maybe they di

[2022-09-18 11:55] brichad commented on #10
i can pair it manually, just not in hass... i'll increase the loggin shortly and confirm back :)

[2022-10-09 15:46] sopelj commented on #10
@brichad Hey, did you have any luck? If not, I'm testing a new version that works on 2022.9+ and uses the built-in bluetooth integration. You can try the beta version of 0.4.0 if you'd like. Just make sure to remove your previous device and unpair it in with `bluetoothctl remove youmacaddress`. Then put it in pairing mode and it should be auto discovered and offer to setup.

[2022-10-09 15:49] sopelj commented on #5
@mclever Hey, has this continued to happen? Lots has changed in home assistant since this issue. And the latest beta of this package uses the built-in Bluetooth integration, so it shouldn't delay the startup any more. Please let me know if it works for you and if you have issues the cause will be different so I will close this issue, but feel free to open another :)

[2022-10-09 15:49] #5 closed

[2022-10-09 16:57] mclever commented on #5
@sopelj does this work with the built-in BT now? I haven't tried since the BT proxy was a thing as I switched everything over. I will test this week. Thanks

[2022-10-09 17:00] sopelj commented on #5
In theory it should as of 2022.10 since they added support for active proxies, but I haven't tested it yet.

[2022-10-09 17:56] austin202220 opened #11 "spelling"
Hold down button on the bottom of the mug until light goes blue, then yellow anf then red

just wanted to note a typo ---- "and then red" not anf

[2022-10-10 01:18] rybackisback commented on #10
@sopelj

I still am not able to setup the mug with the built-in HA bluetooth integration and the beta version of 0.4.0. I cannot even install the ember integration. I get the error below.

Error: Config flow could not be loaded: 500 Internal Server Error Server got itself in trouble

Logger: aiohttp.server
Source: custom_components/ember_mug/config_flow.py:75
Integration: Ember Mug ([documentation

[2022-10-10 01:25] sopelj commented on #10
@rybackisback Oh, I'm sorry. That does happen if you try to add it manually. I'll fix that.
However, you shouldn't need to. Just install/update the mug integration and make sure you have the Bluetooth adaptor configured with the Bluetooth integration and when you put the mug in pairing mode it should be automatically detected as a new device.
You no longer have to do "add integration" simply havin

[2022-10-10 02:02] sopelj commented on #11
Oh, thanks for pointing it out! Fixed!

[2022-10-10 02:02] #11 closed

[2022-10-10 04:36] austin202220 opened #12 "picking up random bluetooth devices, not ember mug"
I have an ember 2 bug and can't get it connected. It is not showing up automatically. When I click + Add Integration the wizard runs and it tries to connect to misc bluetooth devices I have that I know are not the ember mug. (One is my bhyve sprinkler, and it also tries to add my Xiaomi miija plant 'flower care' sensors.

I have followed all the steps, removing the mug from the ember app, then for

[2022-10-10 04:42] austin202220 commented on #12
hmmm, restarted the whole system and now when I click add integration->ember mug I get

Error:
"Config flow could not be loaded: Unknown error"

[2022-10-10 06:43] rybackisback commented on #10
Thanks @sopelj. i followed your instructions and put the mug into pairing mode. Now I get the following error.

This error originated from a custom integration.

Logger: custom_components.ember_mug.coordinator
Source: custom_components/ember_mug/coordinator.py:88
Integration: Ember Mug (documentation, issues)
First occurred: 4:41:23 PM (3 occurrences)
Last logged: 4:41:40 PM

Invalid base64-encode

[2022-10-10 14:07] sopelj commented on #12
Hey, you shouldn't need to use the "Add integration" wizard. It should be automatically detected.
However, I fixed the discovery of random devices in beta 3. I had forgotten to filter that way, because I hadn't used it.
Have you previously used the mug with Home Assistant before? You might need to manually remove it via `bluetoothctl remove macaddress" in order for it to be detected as a "new" dev

[2022-10-10 14:08] sopelj commented on #10
@rybackisback Oh that's good it got paired though.
Would it be possible to enable more detailed debugging so I can see which attribute is problematic? Thanks!

[2022-10-10 17:11] austin202220 commented on #12
I have not ever gotten the mug setup correctly. I tried yesterday and at one point it did find the mug, but it happened right as I was holding the reset button and I think I messed up the workflow. And it was at the same time that I noticed the directions indicating to use v0.4.0 and I had the prior version installed. So probably my fault I messed it up trying to click too many buttons too fast.

[2022-10-10 17:21] sopelj commented on #12
Oh ok! Yeah, I'm sorry I can't make it more intuitive. It's a bit finicky, but once it's connected for the first time, it works pretty well.
No worries. I know it's not super straightforward. It should be easier with the new version, I just didn't want to release the latest version until it had been tested a bit.

If you use Home Assistant OS, you can install the "Terminal + SSH" Addon and if not

[2022-10-10 17:57] austin202220 commented on #12
I loaded beta 3. I didn't know the Mac address for the mug so haven't run the command yet. I clicked add integration and it found the mug this time - and now because of this I am able to know the Mac address. I added the mug and its now giving this error (first it says initializing):

"Retrying setup: An error occurred updating mug: e=BleakAbortedError(' (F7:66:57:75:5B:EC) - /org/bluez/hci0/dev_F

[2022-10-10 18:11] austin202220 commented on #12
yay!! Its working now, thank you so much!!

[2022-10-10 18:11] #12 closed

[2022-10-10 18:22] sopelj commented on #12
@austin202220 Thank you! I'll release the stable version soon. Just a few things I'd like to tweak first. :)

[2022-10-10 20:17] rybackisback commented on #10
Full logs
2022-10-11 06:00:26.367 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration ember_mug which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-10-11 06:00:49.254 INFO (MainThread) [custom_components.ember_mug.coordinator] Ember Mug ember-mug-XXXXXXXXXXXXXXXXX

[2022-10-10 21:05] sopelj commented on #10
Oh, thank you. That doesn't give the location, sadly. I assume it's the UDSK, since that's the only place, a side from the ID, that uses that method. And I'm fairly confident that the ID is fine.
I have caught that error in version 0.4.0-beta-4 if you want to try. If you still have issues with it please try enabling logging debugging from the module `ember_mug` as well. :)

[2022-10-11 11:33] rybackisback commented on #10
See error below error with version 0.4.0-beta-4:

2022-10-11 20:58:04.647 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration ember_mug which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-10-11 20:58:30.296 INFO (MainThread) [custom_components.ember_mug.coordinato

[2022-10-11 18:55] sopelj commented on #10
That's very weird. It seems like the same error as beta-3... that shouldn't be possible. No warnings from the library either.
Are you sure you restarted after and have detailed logging enabled for the ember mug library?
[code]

[2022-10-11 20:52] rybackisback commented on #10
Yes I did restart and install beta 4. Ive changed the logger as above and see errors below:
Full logs
2022-10-12 06:36:50.883 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration ember_mug which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-10-12 06:37:09.104 INFO

[2022-10-11 22:03] brichad commented on #10
Hi!! sorry back from travels, i'm getting the same errors as @rybackisback (above), identification of the mug working good though :)

[2022-10-12 03:09] sopelj commented on #10
Welcome back!

Ok, sorry for the delay, I'm really busy this week. I think I fixed the encoding issue on 0.4.0-beta5. it definitely should cause that error at least. If you guys do still have issues, please try with warnings enabled from the library `ember_mug` as mentioned above though as it will help pinpoint the problem as it doesn't occur with my mug. Probably since the values are different. T

[2022-10-12 05:26] rybackisback commented on #10
See errors below with beta 5:
Full logs
2022-10-12 14:57:08.004 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration ember_mug which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-10-12 14:57:32.999 INFO (MainThread) [custom_components.ember_mug.coordinator] Ember M

[2022-10-12 15:15] mclever opened #13 "can't pair mug, .4 beta 5"
Discovery worked the first time, even after uninstall/re-install/re-paring still getting this
Retrying setup: An error occurred updating mug: e=BleakDBusError('org.bluez.Error.Failed', 'Operation failed with ATT error: 0x0e')

[2022-10-12 21:33] rybackisback commented on #10
Hi @sopelj. thanks for the prompt reply. See answers below:

placing the mug in pairing mode and taking it out after a few minutes
reloading the integration?: yes, I have tried this but the error remains
restarting home assistant: yes, I have but the error remains
updating to the latest home assistant and home assistant os: yes, i am on core-2022.10.3 and supervisor-2022.10.0 running on Ubuntu 22.

[2022-10-15 17:21] sopelj commented on #10
Thank you very much for the detailed answer. And your tests. :)
I think it is because the Bluetooth is stuck in passive scanning mode, and thus it won't connect.
I've been trying to figure out how to wake it. Opening `bluetoothctl` manually seems to do it.
Ok, so you're not running Home Assistant OS. Are you running in Docker or directly under Ubuntu? If you're running directly in Ubuntu I suppose

[2022-10-16 00:13] rybackisback commented on #10
Hi @sopelj , thanks for your help. Running Bluetoothctl worked. Hope you are able to find a way to wake it when the mug is put into pairing mode.

[2022-10-16 00:26] sopelj commented on #10
Awesome! I'm glad that worked. At least that confirms the issue and workaround.
I'll see what can be done. It's only required for the in initial setup though. After that you should be good even after reboots.

[2022-10-16 19:46] rybackisback commented on #10
Thanks @sopelj, once the connection is established the connection is solid with frequent updates

[2022-10-27 00:35] sopelj commented on #10
Home Assistant 2022.11 Beta 0 was just released and it includes a more recent version of the Bluetooth libraries that this integration uses. Since the update I haven't seen the "ATT error: 0x0e (Unlikely Error)". I don't know if anyone else has tried. But it's encouraging.

[2022-10-27 12:39] bakerboy908 commented on #13
Im having the same issue, I am using an ESP32 as a Bluetooth proxy, not sure if that is a problem or not

[2022-10-27 12:55] bakerboy908 commented on #13
It appears ESPHome Bluetooth proxies cannot pair.
`This error originated from a custom integration.

Logger: custom_components.ember_mug.coordinator
Source: custom_components/ember_mug/coordinator.py:88
Integration: Ember Mug (documentation, issues)
First occurred: 23:43:33 (9 occurrences)
Last logged: 23:52:25

Pairing is not available in ESPHome.
(C3:DF:EA:CC:38:40) - C3:DF:EA:CC:38:40: Failed t

[2022-11-02 00:26] lazyboy0172 opened #14 "Ability to Update Target Temp"
I see in the readme that we're not able to get writing attributes to work yet, and separately that mugs can only connect to one device at a time and must be factory reset in order to connect to home assistant. So, does that mean it's completely impossible to change the target temp on a non-traveler mug? I prefer a lower temp than the default 135, but if I'm reading correctly, that's currently not

[2022-11-02 00:39] sopelj commented on #13
Hi @bakerboy908, I have not tested Bluetooth proxies. I'm not certain they work.
Are you using the latest beta of this integration and are you on the beta of home assistant 2022.11?
If not, please try the latest beta of this integration and either the home assistant 2022.11 beta or use the workaround mentioned in the other issue #10 of opening bluetoothctl to wake it.

If you have issues specific

[2022-11-02 00:43] sopelj commented on #14
That is an excellent point, and I do completely understand that. I, too, would like the temperature to be a bit cooler on my mug.
I know that used to be the case, however I'm not 100% certain it is still required. I'll give it a try and confirm. However, I do know that you will have issues if you have two devices connected to it at the same time (otherwise you'll get frequent disconnects). However

[2022-11-02 01:19] sopelj commented on #14
Awesome! Thank you for making me double check. So, it does look like using the 0.4 beta which uses the new Bluetooth Integration, it does seem like you can set up your mug as you wish using the app, and then you can pair it with home assistant. And not only that, if the mug was set up in the app, the services I added in home assistant that I said don't work, work!
So, I will update the documentati

[2022-11-02 02:13] lazyboy0172 commented on #14
well isn't that nice, a successfully closed ticket and the only thing to update is the readme. That's wonderful news, thank you for testing and for confirming!

[2022-11-02 02:14] #14 closed

[2022-11-03 02:58] mclever commented on #13
installed 2022.11 and ran into the same snag, discover worked, but couldn't pair until I used the ssh terminal addon to run bluetoothctl and it paired right away

[2022-11-03 02:58] #13 closed

[2022-11-07 09:45] bakerboy908 opened #15 "Bluetooth proxies are not working"
Im unsure if this is an issue with the ESP proxy or with this integration

Here is the error im getting in home assistant
`(C3:DF:EA:CC:38:40) - C3:DF:EA:CC:38:40 -> esp32-bluetooth-proxy-c99384: Failed to connect: No backend with an available connection slot that can reach address C3:DF:EA:CC:38:40 was found: The proxy/adapter is out of connection slots; Add additional proxies near this device
Pa

[2022-11-07 10:40] bakerboy908 commented on #15
This is the esp home bluetooth proxy logs when it attempts to connect

[code]

[2022-11-07 23:15] bakerboy908 commented on #15
They havent released 2022.11.0 yet, but i tried the dev branch, with no luck

[2022-11-07 23:39] bakerboy908 commented on #15
Ok i think i hadnt setup the dev branch correctly, the error has changed to parring not available in ESPHome

[code]

[2022-11-17 12:19] janpgu commented on #15
Hi all,
First of all: thanks for the great work @sopelj :)
Do we have any updates on the issue mentioned by @bakerboy908 ? I'm having the same issue (also using EspHome active bluetooth proxy).

[2022-11-24 02:03] sopelj commented on #15
Hi and Thanks! Sorry for the late response.

The problem is that, as the error states, pairing doesn't seem to be supported with Bluetooth Proxies currently. And the mug needs to be paired to get kicked out of it's pairing mode. Otherwise, it will stay there until the user hits the button.

Until the proxies support pairing, I'm trying to find a way to skip the pairing if we're in the context of a

[2022-11-24 03:49] sopelj commented on #15
Ok, I think I found a way to catch this error. However, if it works you might need to manually force it out of pairing mode by pressing the button once, once its setup.
I don't have proxies to test it right now, but I pushed a beta version 0.4.1 if someone has a chance to test it would be much appreciated. Thanks!

[2022-11-25 13:42] belenkiy-lab commented on #15
I have a proxy and a mug.
download version 0.4.1-beta-1
add mug from integration page
then canceled the pairing mode on the mugs
after that In the esp proxy console:

[code]

in the ha log

[code]

[2022-11-25 13:45] belenkiy-lab commented on #15
I have a proxy and a mug.
download version 0.4.1-beta-1
add mug from integration page
then canceled the pairing mode on the mugs
after that In the esp proxy console:

[code]

in the ha log

[code]